# Stamp Sales Analysis for CPNS Purposes
by: @mufiiin

## A. Prepare Dataset

In [1]:
import pandas as pd

In [ ]:
!git clone https://github.com/fadhiljr7/datascience005.git

In [ ]:
!unzip /content/datascience005/archive.zip

In [2]:
df = pd.read_csv('/content/cpns2024.csv', sep=';')

## B. Exploratory Data Analysis

### Data SetUp

In [ ]:
df.head()

,No,Instansi,Formasi,Pendaftar,Submit,MS,TMS
0,1,Arsip Nasional Republik Indonesia,99,4628,3758,3227,531
1,2,Badan Informasi Geospasial,82,1208,1009,867,142
2,3,Badan Intelijen Negara,600,14102,7514,4428,3086
3,4,Badan Karantina Indonesia,525,7478,7031,6519,512
4,5,Badan Keamanan Laut RI,397,2695,1365,860,497

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 543 entries, 0 to 542
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   No         543 non-null    int64
 1   Instansi   543 non-null    object
 2   Formasi    543 non-null    int64
 3   Pendaftar  543 non-null    int64
 4   Submit     543 non-null    int64
 5   MS         543 non-null    int64
 6   TMS        543 non-null    int64
dtypes: int64(6), object(1)
memory usage: 29.8+ KB

In [3]:
registrants = df['Pendaftar'].sum()
print(f"Total Registrants: {registrants}")

Total Registrants: 3963832

In [4]:
avg_registrants = df['Pendaftar'].mean()
print(f"Average Registrants for each Intantition: {avg_registrants}")

Average Registrants for each Intantition: 7299.874769797421

In [5]:
submited = df['Submit'].sum()
print(f"Total Submited Aplications: {submited}")

Total Submited Aplications: 3572414

In [6]:
avg_submited = df['Submit'].mean()
print(f"Average Submited Aplications: {avg_submited}")

Average Submited Aplications: 6579.031307550645

In [7]:
stamp_price1 = 10000
stamp_price2 = 12000

### Maximum and Minimum Profit

In [ ]:
total_price = registrants * stamp_price1
stampx2 = total_price * 2

price_rp = f"Rp{total_price:,.0f}"
stampx2_rp = f"Rp{stampx2:,.0f}"

print(f"Total stamp duty cost: {price_rp}")
print(f"Total stamp duty cost x2: {stampx2_rp}")

Total stamp duty cost: Rp39,638,320,000
Total stamp duty cost x2: Rp79,276,640,000

In [ ]:
total_price = registrants * stamp_price2
stampx2 = total_price * 2

price_rp = f"Rp{total_price:,.0f}"
stampx2_rp = f"Rp{stampx2:,.0f}"

print(f"Total stamp duty cost: {price_rp}")
print(f"Total stamp duty cost x2: {stampx2_rp}")

Total stamp duty cost: Rp47,565,984,000
Total stamp duty cost x2: Rp95,131,968,000

### Submited Applicants

In [ ]:
total_price = submited * stamp_price1
stampx2 = total_price * 2

price_rp = f"Rp{total_price:,.0f}"
stampx2_rp = f"Rp{stampx2:,.0f}"

print(f"Total stamp duty cost: {price_rp}")
print(f"Total stamp duty cost x2: {stampx2_rp}")

Total stamp duty cost: Rp35,724,140,000
Total stamp duty cost x2: Rp71,448,280,000

In [ ]:
total_price = submited * stamp_price2
stampx2 = total_price * 2

price_rp = f"Rp{total_price:,.0f}"
stampx2_rp = f"Rp{stampx2:,.0f}"

print(f"Total stamp duty cost: {price_rp}")
print(f"Total stamp duty cost x2: {stampx2_rp}")

Total stamp duty cost: Rp42,868,968,000
Total stamp duty cost x2: Rp85,737,936,000

### Applicants are Eligible or Not

In [ ]:
ms = df['MS'].sum()
print(f"eligible Applicants: {ms}")

eligible Applicants: 2855597

In [ ]:
tms = df['TMS'].sum()
print(f"not eligible Applicants: {tms}")

not eligible Applicants: 599528

In [ ]:
total_price = ms * stamp_price1
stampx2 = total_price * 2

price_rp = f"Rp{total_price:,.0f}"
stampx2_rp = f"Rp{stampx2:,.0f}"

print(f"Total stamp duty cost: {price_rp}")
print(f"Total stamp duty cost x2: {stampx2_rp}")

Total stamp duty cost: Rp28,555,970,000
Total stamp duty cost x2: Rp57,111,940,000

In [ ]:
total_price = tms * stamp_price1
stampx2 = total_price * 2

price_rp = f"Rp{total_price:,.0f}"
stampx2_rp = f"Rp{stampx2:,.0f}"

print(f"Total stamp duty cost: {price_rp}")
print(f"Total stamp duty cost x2: {stampx2_rp}")

Total stamp duty cost: Rp5,995,280,000
Total stamp duty cost x2: Rp11,990,560,000

### Average Profit for Each Agency

In [ ]:
total_price = avg_registrants * stamp_price1
price_rp = f"Rp{total_price:,.0f}"
print(f"Total stamp duty cost: {price_rp}")

Total stamp duty cost: Rp72,998,748

In [ ]:
total_price = avg_submited * stamp_price1
price_rp = f"Rp{total_price:,.0f}"
print(f"Total stamp duty cost: {price_rp}")

Total stamp duty cost: Rp65,790,313

### The Smallest and Largest Possible Profits

In [ ]:
registrants_min = df['Pendaftar'].min()
print(f"Total Registrants: {registrants_min}")

Total Registrants: 12

In [ ]:
registrants_max = df['Pendaftar'].max()
print(f"Total Registrants: {registrants_max}")

Total Registrants: 567552

In [ ]:
total_price = registrants_min * stamp_price1
price_rp = f"Rp{total_price:,.0f}"
print(f"Total stamp duty cost: {price_rp}")

Total stamp duty cost: Rp120,000

In [ ]:
total_price = registrants_max * stamp_price1
price_rp = f"Rp{total_price:,.0f}"
print(f"Total stamp duty cost: {price_rp}")

Total stamp duty cost: Rp5,675,520,000